{
 :mvn/repos
 {"metabase-maven-downloads" {:url "https://s3.amazonaws.com/metabase-maven-downloads"}
  "redshift" {:url "https://s3.amazonaws.com/redshift-maven-repository/release"}}

 :deps
 {metabase/oceanbase {:local/root "oceanbase"}}}